.page.clearfix
  %div
    = render partial: 'advanced_search'
  - unless @results.blank?
    %h3.results-heading
      Results
    .results
      = render partial: 'search/result', collection: @results
